#Ignore the stupid user files
*.user
*.o
/build-*/
build-*/
outfiles/
.*~
*.pro.user.*
*.aux
*.log
*.out
*.toc
*.gz
*.aux
*.bbl 
*.blg 
*.fdb* 
*.log
*.out 
*.syn*
*.toc 
*.pdf
*.gnuplot
*.gnuplot
*.table
*.bcf
*.xml
*.latexmk
